.base-shadeBox {
  box-shadow: 0 0 2px #eee, 0 2px 5px #ccc;
}
.mainpage-newsbox > .mainpage-title:first-child {
  display: none;
}
.mainpage-1stcontent > ul.gallery:first-child {
  overflow: hidden;
  padding: 0;
  text-align: center;
  font-size: 0;
}
.mainpage-1stcontent > ul.gallery:first-child li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 90px;
  margin: 5px;
  font-size: 14px;
}
.mainpage-1stcontent > ul.gallery:first-child li img {
  width: 100%;
  box-shadow: 0 0 3px #666;
}
.mainpage-1stcontent > ul.gallery:first-child li p {
  margin: 0;
  text-align: center;
}
.mainpage-title {
  line-height: 30px;
  background: #3cad3d;
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
}
.mainpage-box {
  box-shadow: 0 0 2px #eee, 0 2px 5px #ccc;
  padding: 5px;
  margin-bottom: 10px;
}
#mainpage > .mainpage-title,
#mainpage > .mainpage-content {
  display: none;
}
.mainpage-1stcontent .gallery.mw-gallery-packed-hover img {
  object-fit: cover;
}
